In [1]:
import numpy as np
import pandas as pd
from si_prefix import si_format

In [2]:
# Path of the file to read
files = ['CLK', 'A3', 'A2', 'A1', 'A0', 'B3', 'B2', 'B1', 'B0', 'P7', 'P6', 'P5', 'P4', 'P3', 'P2', 'P1', 'P0']

df = pd.DataFrame()
for file in files:
    add = pd.read_csv('./CSV/' + file + '.csv')
    df = pd.concat([df, add], axis=1)

In [3]:
df = df.drop(df.columns[[i for i in range(len(df.columns)) if i % 2 == 0 and i != 0]], axis=1)
df

,clk (interpolated wth step=1e-10) X,clk (interpolated wth step=1e-10) Y,a3 (interpolated wth step=1e-10) Y,a2 (interpolated wth step=1e-10) Y,a1 (interpolated wth step=1e-10) Y,a0 (interpolated wth step=1e-10) Y,b3 (interpolated wth step=1e-10) Y,b2 (interpolated wth step=1e-10) Y,b1 (interpolated wth step=1e-10) Y,b0 (interpolated wth step=1e-10) Y,p7 (interpolated wth step=1e-10) Y,p6 (interpolated wth step=1e-10) Y,p5 (interpolated wth step=1e-10) Y,p4 (interpolated wth step=1e-10) Y,p3 (interpolated wth step=1e-10) Y,p2 (interpolated wth step=1e-10) Y,p1 (interpolated wth step=1e-10) Y,p0 (interpolated wth step=1e-10) Y
0,0.000000e+00,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.377613,0.378087,0.378490,0.378524,0.365165,0.365683,0.366177,0.366648
1,1.000000e-10,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.377613,0.378087,0.378490,0.378524,0.365165,0.365683,0.366177,0.366648
2,2.000000e-10,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.377613,0.378087,0.378490,0.378524,0.365165,0.365683,0.366177,0.366648
3,3.000000e-10,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.377613,0.378087,0.378490,0.378524,0.365165,0.365683,0.366177,0.366648
4,4.000000e-10,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.377613,0.378087,0.378490,0.378524,0.365165,0.365683,0.366177,0.366648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59996,5.999600e-06,0.85,0.0,0.0,0.85,0.0,0.85,0.0,0.85,0.85,0.001009,0.001017,0.001023,0.847880,0.001009,0.847633,0.001022,0.001024
59997,5.999700e-06,0.85,0.0,0.0,0.85,0.0,0.85,0.0,0.85,0.85,0.001008,0.001017,0.001022,0.847880,0.001008,0.847634,0.001021,0.001024
59998,5.999800e-06,0.85,0.0,0.0,0.85,0.0,0.85,0.0,0.85,0.85,0.001007,0.001016,0.001021,0.847881,0.001007,0.847634,0.001021,0.001024
59999,5.999900e-06,0.85,0.0,0.0,0.85,0.0,0.85,0.0,0.85,0.85,0.001007,0.001016,0.001019,0.847881,0.001007,0.847634,0.001021,0.001024
60000,NaN,NaN,0.0,0.0,0.85,0.0,0.85,0.0,0.85,0.85,0.001006,0.001016,0.001018,0.847882,0.001006,0.847634,0.001020,0.001024

In [4]:
quantized = np.digitize(df.iloc[:,1:], bins=[0.425])
q_df = pd.DataFrame(quantized, columns=df.columns[1:])

In [5]:
q_df = pd.concat([df.iloc[:,0:1], q_df], axis=1)
q_df.rename(columns = {'clk (interpolated wth step=1e-10) X':'time '}, inplace = True)
q_df.rename(columns = lambda x: x[0:x.find(' (')], inplace = True)
q_df

,time,clk,a3,a2,a1,a0,b3,b2,b1,b0,p7,p6,p5,p4,p3,p2,p1,p0
0,0.000000e+00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1.000000e-10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2.000000e-10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3.000000e-10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,4.000000e-10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59996,5.999600e-06,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,0,0
59997,5.999700e-06,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,0,0
59998,5.999800e-06,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,0,0
59999,5.999900e-06,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,0,0
60000,NaN,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,0,0

In [6]:
q_df['A_bin'] = q_df['a3'].astype(str) + q_df['a2'].astype(str) + q_df['a1'].astype(str) + q_df['a0'].astype(str)
q_df['B_bin'] = q_df['b3'].astype(str) + q_df['b2'].astype(str) + q_df['b1'].astype(str) + q_df['b0'].astype(str)
q_df['P_bin'] = q_df['p7'].astype(str) + q_df['p6'].astype(str) + q_df['p5'].astype(str) + q_df['p4'].astype(str) + q_df['p3'].astype(str) + q_df['p2'].astype(str) + q_df['p1'].astype(str) + q_df['p0'].astype(str)
q_df['A'] = q_df['A_bin'].apply(lambda x: int(x, 2))
q_df['B'] = q_df['B_bin'].apply(lambda x: int(x, 2))
q_df['P'] = q_df['P_bin'].apply(lambda x: int(x, 2))
q_df

,time,clk,a3,a2,a1,a0,b3,b2,b1,b0,...,p3,p2,p1,p0,A_bin,B_bin,P_bin,A,B,P
0,0.000000e+00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0000,0000,00000000,0,0,0
1,1.000000e-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0000,0000,00000000,0,0,0
2,2.000000e-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0000,0000,00000000,0,0,0
3,3.000000e-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0000,0000,00000000,0,0,0
4,4.000000e-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0000,0000,00000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59996,5.999600e-06,1,0,0,1,0,1,0,1,1,...,0,1,0,0,0010,1011,00010100,2,11,20
59997,5.999700e-06,1,0,0,1,0,1,0,1,1,...,0,1,0,0,0010,1011,00010100,2,11,20
59998,5.999800e-06,1,0,0,1,0,1,0,1,1,...,0,1,0,0,0010,1011,00010100,2,11,20
59999,5.999900e-06,1,0,0,1,0,1,0,1,1,...,0,1,0,0,0010,1011,00010100,2,11,20
60000,NaN,1,0,0,1,0,1,0,1,1,...,0,1,0,0,0010,1011,00010100,2,11,20

In [7]:
input_arr = []
curr_clk = 0

for row in q_df.iterrows():
    if (curr_clk == 0 and row[1]['clk'] == 1):
        input_arr.append([row[1]['A'], row[1]['B'], row[1]['time']])
        if (row[1]['A'] == 15 and row[1]['B'] == 15):
            print(row[1]['A'])
            break
    curr_clk = row[1]['clk']

15

In [8]:
delay_df = pd.DataFrame(input_arr, columns=['A', 'B', 'input_time'])
delay_df.insert(3, 'output_time', 0)
delay_df.insert(4, 'delay', 0)
delay_df

      A   B    input_time  output_time  delay
0     0   0  1.010000e-08            0      0
1     0   1  3.010000e-08            0      0
2     0   2  5.010000e-08            0      0
3     0   3  7.010000e-08            0      0
4     0   4  9.010000e-08            0      0
..   ..  ..           ...          ...    ...
251  15  11  5.030100e-06            0      0
252  15  12  5.050100e-06            0      0
253  15  13  5.070100e-06            0      0
254  15  14  5.090100e-06            0      0
255  15  15  5.110100e-06            0      0

[256 rows x 5 columns]

In [9]:
curr_A = 0
curr_B = 0

for row in q_df.iterrows():
    if (row[1]['clk'] == 1):
        if (row[1]['P'] == curr_A * curr_B and (row[1]['A'] != curr_A or row[1]['B'] != curr_B)):
            delay_df.loc[(delay_df['A'] == curr_A) & (delay_df['B'] == curr_B), 'output_time'] = row[1]['time']
            delay_df.loc[(delay_df['A'] == curr_A) & (delay_df['B'] == curr_B), 'delay'] = \
                row[1]['time'] - delay_df.loc[(delay_df['A'] == curr_A) & (delay_df['B'] == curr_B), 'input_time']
            curr_B += 1
        if (curr_B == 16):
            curr_A += 1
            curr_B = 0
delay_df

      A   B    input_time   output_time         delay
0     0   0  1.010000e-08  2.010000e-08  1.000000e-08
1     0   1  3.010000e-08  4.010000e-08  1.000000e-08
2     0   2  5.010000e-08  6.010000e-08  1.000000e-08
3     0   3  7.010000e-08  8.010000e-08  1.000000e-08
4     0   4  9.010000e-08  1.001000e-07  1.000000e-08
..   ..  ..           ...           ...           ...
251  15  11  5.030100e-06  5.050200e-06  2.010000e-08
252  15  12  5.050100e-06  5.070200e-06  2.010000e-08
253  15  13  5.070100e-06  5.090200e-06  2.010000e-08
254  15  14  5.090100e-06  5.110200e-06  2.010000e-08
255  15  15  5.110100e-06  5.130200e-06  2.010000e-08

[256 rows x 5 columns]

In [10]:
delay_df['delay_si_format'] = delay_df['delay'].apply(lambda x: si_format(x))
delay_df

      A   B    input_time   output_time         delay delay_si_format
0     0   0  1.010000e-08  2.010000e-08  1.000000e-08          10.0 n
1     0   1  3.010000e-08  4.010000e-08  1.000000e-08          10.0 n
2     0   2  5.010000e-08  6.010000e-08  1.000000e-08          10.0 n
3     0   3  7.010000e-08  8.010000e-08  1.000000e-08          10.0 n
4     0   4  9.010000e-08  1.001000e-07  1.000000e-08          10.0 n
..   ..  ..           ...           ...           ...             ...
251  15  11  5.030100e-06  5.050200e-06  2.010000e-08          20.1 n
252  15  12  5.050100e-06  5.070200e-06  2.010000e-08          20.1 n
253  15  13  5.070100e-06  5.090200e-06  2.010000e-08          20.1 n
254  15  14  5.090100e-06  5.110200e-06  2.010000e-08          20.1 n
255  15  15  5.110100e-06  5.130200e-06  2.010000e-08          20.1 n

[256 rows x 6 columns]

In [11]:
delay_df.to_csv('./delay.csv', index=False)

In [13]:
max_delay = max(delay_df['delay'])
index = (delay_df['delay'] == max_delay)
delay_df.loc[index]

      A   B  input_time  output_time         delay delay_si_format
192  12   0    0.000004     0.000004  2.010000e-08          20.1 n
199  12   7    0.000004     0.000004  2.010000e-08          20.1 n
206  12  14    0.000004     0.000004  2.010000e-08          20.1 n
213  13   5    0.000004     0.000004  2.010000e-08          20.1 n
240  15   0    0.000005     0.000005  2.010000e-08          20.1 n
247  15   7    0.000005     0.000005  2.010000e-08          20.1 n
254  15  14    0.000005     0.000005  2.010000e-08          20.1 n